.settings
.project
.classpath
.idea

*.jar
*.class
*.iml
*.log
*.dat
*.log.zip

target
webroot
node_modules
logs

forecast/microservice.yaml
forecast/lib

weather/microservice.yaml
weather/lib

weather-beta/microservice.yaml
weather-beta/lib

fusionweather/microservice.yaml
fusionweather/lib
